<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mustache</title>
</head>
<body>
    <h1 style="color:red;"> Kalkulator podatku </h1>
    <h2> Cena: <span style="color:blue;">{{ value }}</span> </h2>
    <h2> Podatek: <span style="color:blue;">{{ tax }}</span>%</h2>
    <h2> Obliczony podatek: <span style="color:red;">{{ taxBrutto }}</span></h2>
    <h2> Kwota bez podatku: <span style="color:green;">{{ valueWithoutTax }}</span></h2>

</body>
</html>